
*{
    margin: 0px;
}

.header{
    display: flex;
    background-color: aquamarine;
}

.viper{
    font-size: 30px;
    color: red;
    margin-left: 400px;
}

.b{
    font-size: 30px;
    margin-left: 20px;
    color: rgb(17, 0, 255);
}

.d{
    width: 1350px;
    height: 580px;
}

.image_writting_thing{
    position: absolute;
    font-size: 100px;
    color: rgb(255, 255, 255);
    margin-left: 150px;
    margin-top: 100px;
}

.a{
    margin-left: 300px;
}

.m{
    width: 300px;
    height: 300px;
}

.first_row_all_product{
    display: flex;
}

.first_row_product{
    width: 300px;
    height: 300px;
    margin-left: 90px;
    margin-top: 90px;
    margin-bottom: 50px;
    background-color: rgb(255, 255, 0);
}

.first_img{
    width: 100%;
    height: 100%;
}

.image_tittle{
    font-size: 35px;
    color: rgb(255, 255, 255);
    direction: none;
}

a{
    text-decoration: none;
}

button{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(255, 94, 0);
    color: white;
    padding-left: 200px;
    padding-right: 200px;
    margin-top: 570px;
    margin-left: 30%;
    position: fixed;
    border-radius: 50px;
}

body{
    background-color: black;
}
.price{
    position: absolute;
    color: rgb(0, 255, 200);
    font-size: 40px;
}